.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  padding: 8px;
}

.main {
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
}
.main_container {
  width: 80%;
  margin: 0 auto;
}

.task_wrapper {
  margin-bottom: 40px;
}
.task_feature {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  margin-bottom: 8px;
}
.task_name {
  font-size: 1.3rem;
}
.task_inner {
  overflow-x: auto;
  width: 100%;
}
.tasks {
  align-items: flex-end;
  display: flex;
  height: 80px;
  padding-left: 10px;
  padding-bottom: 1.2rem;
  width: 1000px;
}
.task_bar {
  border-bottom: 1px solid #000;
  height: 50%;
  position: relative;
  width: 2px;
}
.task_bar-occur {
  height: 100%;
  background: blue;
  border-bottom: 1px solid #000;
  position: relative;
  width: 2px;
}
.task_time {
  bottom: -1.2rem;
  left: -4px;
  position: absolute;
}
.task_blockWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  border-bottom: 1px solid #000;
}
.task_block {
  height: 50%;
  background-color: #888;
  border: 1px solid #fff;
}


.bgc-gray {
  background-color: #ccc;
}
.bgc-red {
  background-color: #f0736a;
}