.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  padding: 8px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_container {
  width: 80%;
  margin: 0 auto;
}

.task_wrapper {
  margin-bottom: 40px;
}
.task_feature {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  margin-bottom: 8px;
}
.task_name {
  font-size: 1.3rem;
}
.task_inner {
  overflow-x: auto;
  width: 100%;
}
.tasks {
  align-items: flex-end;
  display: flex;
  height: 80px;
  padding-left: 10px;
  padding-bottom: 1.2rem;
  width: 1000px;
}
.task_bar {
  border-bottom: 1px solid #000;
  height: 50%;
  position: relative;
  width: 2px;
}
.task_bar-occur {
  height: 100%;
  background: blue;
  border-bottom: 1px solid #000;
  position: relative;
  width: 2px;
}
.task_time {
  bottom: -1.2rem;
  left: -4px;
  position: absolute;
}
.task_blockWrapper-full {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  border-bottom: 1px solid #000;
}
.task_blockWrapper-half {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
  border-bottom: 1px solid #000;
}
.task_block {
  display: flex;
  flex: 1;
  background-color: #ccc;
}


.bgc-red {
  background-color: #f0736a;
}
.bgc0 {
  background-color: rgba(0, 0, 0, 0);
}
.bgc1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.bgc2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.bgc3 {
  background-color: rgba(0, 0, 0, 0.3);
}
.bgc4n {
  background-color: rgba(0, 0, 0, 0.4);
}
.bgc5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.bgc6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.bgc7 {
  background-color: rgba(0, 0, 0, 0.7)
}
.bgc8 {
  background-color: rgba(0, 0, 0, 0.8);
}
.bgc9 {
  background-color: rgba(0, 0, 0, 0.9);
}
.bgc10 {
  background-color: rgba(0, 0, 0, 1.0);
}